<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: #5F4586">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #FFFFFF">Welcome!!</a>
    </div>
    <div class="btn-group" style="float: right;padding-top: 7px;">
      <button class="btn btn-primary" style="align : center" data-toggle="modal" data-target="#myModal">Ask Question</button>
    </div>

  </div>
</nav>
